.hed
{font-family: Arial, Helvetica, sans-serif; text-align: left;font-size:75px;color:White;border-bottom: silver; border-bottom-style:groove;
margin:50px 150px; text-shadow:steelblue;
}

body {background-color: green}

.boxx
{
    width: 1000px;
    height: auto;
}

.ppp
{
 font-family:Arial, Helvetica, sans-serif;
 font-size:larger;
 margin:-80px 380px;
 font-family: 'Times New Roman', Times, serif;
 color:snow;
}

.ork
{
    margin:100px 150px;
}

ul li
{
    text-decoration: none; list-style-type:none; float:left;
}
a {text-decoration: none;font-size:27px;padding:15px;color:white;}

ul li a:hover 
{
    color:skyblue;
    font-size:30px;
}

.homes
{
    width:1000px;
    height:500px;
    border:2px solid white;
    margin:150px 150px;
}

.Fbut
{
width:1000px;
height:50px;
margin:-120px 150px;
}

.works
{
    width:1000px;
    height:400px;
    margin:120px 150px;
    border:2px solid white;
}

.work_box
{
    width: 300px;
    height: 300px;
    border:1px solid white;
}

#ptext 
{
    font-size: large;
    font-family:monospace;
    color:white;
    margin:10px 0px;
}

.aii
{
    width:550px;
    height: 300px;
    border:1px solid white;
    margin:-344px 350px;
}

#cen
{
    text-align: left;
    font-size:15px;
    color:white;
    padding:15px;
    font-family: monospace;
}

.sfa
{
    width: 1000px;
    height:500px;
    margin:100px 150px;
    border:2px solid white;

}

.gal
{
width:1000px;
height:50px;
margin:80px 0px;
}

.galx
{
    width: 1000px;
    height: 370px;
    border:2px solid white;
    margin:-80px 0px;
}

#dex
{
    width:300px ; height:300px ; text-align: center; margin:20px 0px; font-family: monospace; color:white;
}

#dexx
{
    width:300px ; height:300px ; text-align: center; margin:-320px 330px; font-family: monospace; color:white;
}

#dexxx
{
    width:300px ; height:300px ; text-align: center; margin:20px 660px; font-family: monospace; color:white;
}

.about
{
    width: 1000px;
    height: 50px;
    margin:100px 0px;
}

h2:hover{color:black;font-size:30px;}
h2{color:white;text-align: center;font-family:courier;font-size:25px;}

.aboutus
{
    width: 1000px;
    height: 400px;
    border:2px solid white;
    margin:-100px 0px;
}

#imgs
{
    width: 400px;
    height: 350px;
    border:1px solid white;
    margin:30px 30px;
}

#textin
{
    width: 500px;
    height: 350px;
    border:1px solid white;
    margin:-382px 470px;
}

#ptext
{
    text-align: left;
    color:white;
    padding:5px;
    font-family: courier;
    font-size: 15px;
}

#lnk
{
    color:Yellow;
    font-family: courier;
    font-size: 15px; 
}

.conts
{
    width: 1000px;
    height: 50px;
    margin:120px 0px;
}

.Contactus
{
    width: 1000px;
    height: 300px;
    border:2px solid white;
    margin:-120px 0px;
}

#me
{
    width: 450px;
    height: 250px;
    border:1px solid white;
    margin:30px 30px;
}

#mes
{
    text-align: left;
    margin:20px 40px;
    color:white;
    font-family: Courier;
}

#inst
{
    width: 380px;
    height: 190px;
    border:1px solid white;
    margin:-282px 520px;
    padding:30px;
    
}

#nes
{
    text-align: left;
    color:white;
    font-family: Courier; 
    padding:10px;
    
}

label{color:white;font-family: Courier; text-align: center;}
h1:hover{color:Red;}

.foot
{
    width: 1010px;
    height: 30px;
    background-color:black;
    margin:150px 0px;
}

.ded{
    width: 250px;
    color:red;
    margin:-120px 900px;
}